# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist
.idea/
.DS_Store
yarn.*
packjson-lock.json
build/
sessions
.vscode/settings.json
static/images/
WECHATY_PROFILE.wechaty.json
